body{
    align-items: center;
    height: 100vh;
    background: #0d0d0d;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
h1{

    font-size: 100px;
    font-weight: bold;
    background: linear-gradient(50deg,white,grey);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.container{
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
    padding:  50px;
    background-color: #D60916;
    margin: 100px;
    text-align: center;
}
